@media all and (max-width: 1300px) {
    .featuresSection .content {
        gap: 3rem;
    }
}
@media all and (max-width: 1100px) {
    .featuresSection .content {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        gap: 1rem;
    }
}
@media all and (max-width: 900px) {
    .introSection {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        padding: 2rem 1.5rem;
    }
    .introSection .text {
        margin-bottom: 3rem;
    }
    .introSection .text button {
        margin-right: 1rem;
    }
    .introSection .images img:first-child {
        bottom: 0;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
    .introSection .images img:nth-child(2) {
        float: right;
    }
    .featuresSection {
        padding: 2rem 1.5rem;
    }
    .featuresSection .content {
        grid-template-columns: 20rem 20rem;
        grid-template-rows: auto auto auto;
        gap: 1rem;
    }
    .trackDeliverySection,
    .inAppMessage,
    .trustedDelivery,
    .getEstimate {
        margin-inline: 1.5rem;
        margin-bottom: 2rem;
        padding: 2rem 1.5rem;
        text-align: center;
    }
    .trackDeliverySection,
    .inAppMessage {
        flex-direction: column;
    }
    .trustedDelivery,
    .getEstimate {
        flex-direction: column-reverse;
    }
    .trackDeliverySection img,
    .inAppMessage img {
        margin-bottom: 1rem;
    }

    .trustedDelivery img,
    .getEstimate img {
        margin-top: 1rem;
    }
    .trackDeliverySection img,
    .inAppMessage img,
    .trustedDelivery img,
    .getEstimate img {
        height: 300px;
        margin-right: 0;
    }
    .trustedDelivery .text,
    .getEstimate .text {
        margin-left: 0;
    }
    .contact {
        padding: 2rem 1.5rem;
    }
    .contact input {
        width: 100%;
        margin-bottom: 1rem;
    }
    .contact button {
        width: 100%;
    }
    .trackDeliverySection .text p:nth-child(2),
    .inAppMessage .text p:nth-child(2),
    .trustedDelivery .text p:nth-child(2),
    .getEstimate .text p:nth-child(2) {
        width: 100%;
    }
    .mobile {
        display: inline-flex;
    }
}
@media all and (max-width: 670px) {
    .featuresSection .content {
        grid-template-columns: 20rem;
        justify-content: center;
        grid-template-rows: auto auto auto auto auto;
        gap: 1rem;
    }
    .trackDeliverySection img,
    .inAppMessage img,
    .trustedDelivery img,
    .getEstimate img {
        height: 200px;
        vertical-align: middle;
    }
}